	/* Reset básico */
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		font-family: 'JetBrainsMono', monospace;
		line-height: 1.6;
		color: #333;
		background-color: #f9f9f9;
	}

	/* Header Section */
	.hero {
		position: relative;
		height: 60vh;
		text-align: center;
		box-sizing: content-box;
		color: white;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		text-align: center;
		margin-top: 30px;

	}

	.typewriter-box {
		max-width: 600px;
		width: 80%;
		height: auto;
		padding: 15px;
		overflow: hidden;
	}

	.typewriter {
		overflow: hidden;
		text-align: justify;
		font-family: 'IBM Plex Mono', monospace;
		color: #222;
		font-size: 18px;
	}

	.typewriter.animated {
		white-space: normal;
		text-align: justify;
	}

	@keyframes typing {
		from {
			width: 0
		}

		to {
			width: 100%
		}
	}

	@keyframes blink {
		50% {
			border-color: transparent;
		}
	}

	#subtitle::after {
		content: "|";
		animation: blink 0.7s infinite;
		font-weight: bold;
		margin-left: 5px;
	}

	@keyframes blink {

		0%,
		100% {
			opacity: 1;
		}

		50% {
			opacity: 0;
		}
	}

	.container2 {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: Top;
		height: 100vh;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.background-container {
		display: flex;
		position: absolute;
		height: 100vh;
		margin-top: 30px;
		background-color: #3d0000;
		z-index: 1;
	}

	.foreground {
		position: static;
		top: 50%;
		left: 50%;
		transform: translate(0%, -50%);
		z-index: 1;
		background: rgba(0.0, 0.0, 0.0, 0.0);
		backdrop-filter: blur(10px);
		padding: 250px;
		border-radius: 12px;
		text-align: center;
		color: rgb(66, 66, 66);
	}

	.background-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
		filter: blur(10px) brightness(60%);
	}

	.profile-image {
		opacity: 0;
		width: 300px;
		height: 300px;
		margin-top: 300px;
		object-fit: cover;
		border-radius: 100%;
		outline: #ffffff;
		outline-style: double;
		outline-width: 2px;
		filter: brightness(100%);
		animation: fadeIn 1s ease-in-out forwards;
	}

	.hero-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.hero h1 {
		font-size: 3rem;
		margin-bottom: 10px;
	}

	.hero p {
		font-size: 1.2rem;
		margin-bottom: 20px;

	}

	.btn {
		padding: 10px 20px;
		background-color: #ff6600;
		color: white;
		text-decoration: none;
		border-radius: 20px;
		margin-top: 20px;
		opacity: 0;
		transition: 0.3s ease;
		animation: fadeIn 1s ease-in-out forwards;
	}

	.title {
		font-family: 'IBM Plex Mono', monospace;
		color: #161616;
		font-weight: bold;
	}

	.btn:hover {
		background-color: #e65c00;
		text-shadow: #222;
		border-radius: 100px;
		font-size: 40px;
		transition: 0.3s ease;
	}

	@keyframes fadeIn {
		to {
			opacity: 1;
		}
	}

	/* Section */
	.section p {
		text-align: center;
		color: #ffffff;
		background-color: #222;
		border-radius: 5px;

	}

	.section h2 {
		font-size: 2rem;
		margin-bottom: 5px;
	}

	.socialMediasIcons {
		background-color: #ffffff;
		width: fit-content;
		height: auto;
		padding: 10px 15px;
		display: flex;
		align-items: center;
		border-radius: 10px;
		gap: 10px;
	}

	.social-link {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: #0077b5;
		/* Cor do LinkedIn */
		font-family: 'IBM Plex Mono', monospace;
	}

	.social-text {
		font-size: 16px;
		color: #0077b5;
	}

	.aboutSection {
		font-size: 12dp;
		text-align: justify;
		color: #f9f9f9;
		width: 600px;
		height: 600px;
		padding: 30px;
		margin-bottom: 100px;
		margin-left: 40px;
		background-color: #e65c00;
		border-radius: 10%;
	}

	.defaultTitle {
		margin-top: 10px;
	}

	.defaultText {
		margin-top: 10px;
		margin-bottom: 30px;
	}

	/* Footer */
	footer {
		background-color: #222;
		color: white;
		text-align: center;
		padding: 15px;
	}